# python cache
*.pyc
#*.csv
*.gif
/img/CG_*.png
# virtual env
venv

# pycharm
.idea/

# vscode
.vscode/

# simulation data



# DS_Store
.DS_Store
indirect_refs.csv
indirect_refs.csv
.core.py.swo
.core.py.swo

# Zone.Identifier
*Zone.Identifier
